<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    <link rel="icon" href="{% static "images/INDEXICON.ico" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Attire {% endblock %} </title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <!-- custom css -->
    <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
</head>
<body>
    <!-- navbar -->
    <nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
        <div class = "container">
            <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "{% url 'index' %}">
                <img src = {% static 'images/INDEXICON.ico' %} alt = "site icon">
                <span class = "text-uppercase fw-lighter ms-2">Attire</span>
            </a>

            <div class = "order-lg-2 nav-btns">
                <a href={% url 'carro_compras' %} style="text-decoration: none;">
                    <button type = "button" class = "btn position-relative">
                            <i class = "fa fa-shopping-cart"></i>
                    </button>
                </a>
                <button type="button" class="btn position-relative">
                    <i class="fa fa-search"></i>
                </button>
                
            </div>

            <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                <ul class = "navbar-nav mx-auto text-center">
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'index' %}">inicio</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'colection' %}">Productos</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        
                        {% if request.user.is_authenticated %}
                            <a class = "nav-link text-uppercase text-dark" href="{% url 'exit' %}" >{{ user.username }}</a>
                        {% else %}
                            <a class = "nav-link text-uppercase text-dark" href="{% url 'login' %}">Iniciar sesión</a>
                        {% endif %}
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'about' %}">Sobre nosotros</a>
                    </li>
                    <li class = "nav-item px-2 py-2 border-0">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'blogs' %}">blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
        {% block content %}

        {% endblock  %}
    </div>    

    <!-- footer -->
<footer class = "bg-dark py-5">
    <div class = "container">
        <div class = "row text-white g-4">
            <div class = "col-md-6 col-lg-3">
                <a class = "text-uppercase text-decoration-none brand text-white" href = "{% url 'index' %}">Attire</a>
                <p class = "text-white text-muted mt-3">Attire es una marca chilena líder en la venta de productos tecnológicos. Ofrece una amplia gama de dispositivos y accesorios de alta calidad, combinando funcionalidad y estilo. Attire se destaca por su compromiso con la satisfacción del cliente y su enfoque en soluciones tecnológicas avanzadas. Es una marca confiable y referente en el mercado tecnológico chileno.</p>
            </div>

            <div class = "col-md-6 col-lg-3">
                <h5 class = "fw-light">Links</h5>
                <ul class = "list-unstyled">
                    <li class = "my-3">
                        <a href = "{% url 'index' %}" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Inicio
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "{% url 'colection' %}" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Productos
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "{% url 'about' %}" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Sobre nosotros
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "{% url 'blogs' %}" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Blog
                        </a>
                    </li>
                </ul>
            </div>

            <div class = "col-md-6 col-lg-3">
                <h5 class = "fw-light mb-3">Contactanos</h5>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "me-3">
                        <i class = "fas fa-map-marked-alt"></i>
                    </span>
                    <span class = "fw-light">
                        Las Condes, Stgo, Chile
                    </span>
                </div>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "me-3">
                        <i class = "fas fa-envelope"></i>
                    </span>
                    <span class = "fw-light">
                        attire.support@gmail.com
                    </span>
                </div>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "me-3">
                        <i class = "fas fa-phone-alt"></i>
                    </span>
                    <span class = "fw-light">
                        +569 2039 4932
                    </span>
                </div>
            </div>

            <div class = "col-md-6 col-lg-3">
                <h5 class = "fw-light mb-3">Nuestras redes sociales</h5>
                <div>
                    <ul class = "list-unstyled d-flex">
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->
    <!-- jquery -->
    <script src = "{% static 'js/jquery-3.6.0.js' %}"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <!-- bootstrap js -->
    <script src = "{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <!-- custom js -->
    <script src = "{% static 'js/script.js' %}"></script>
</body>